@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", serif;
    margin-top: 70px;
    background-color: #93a35c;
    /* background-color: #444444; */
}

/* h1{
    color: white;
} */

.buttons-div{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.buttons-div button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
    background-color: #6C5CA3;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
}

.buttons-div button img{
    height: 50px;
    width: 50px;
}

.choice-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.choice-div p{
    font-size: 17px;
    font-weight: 600;
}

.scores-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 10px;
}

.scores-div p{
    font-size: 25px;
    font-weight: 600;
}

.blurred{
    filter: blur(5px);
}

.message{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.message-content{
    background-color: gainsboro;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.close-btn{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f44336;
    color: white;
}

@media screen and (max-width: 400px){
    .buttons-div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buttons-div button{
        width: fit-content;
    }
}

@media screen and (max-width: 800px){
    h1{
        text-align: center;
    }
}